.lead {
  display: grid;
  margin: 0 auto;
  max-width: $maxWidth;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr 1fr;
  //grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto;
  justify-content: space-between;
  gap: 60px;
  padding: 50px;
  @include smallDesktopStyles {
    grid-template-columns: 1fr;
    padding: 40px;
  }
  @include mobileStyles {
    padding: 20px;
  }
  &__photo {
    @include removeSpacing;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    @include smallDesktopStyles {
      grid-column: 1/2;
      grid-row: 2/4;
    }
  }
  &__title {
    @include removeSpacing;
    @include fontStyle(normal, 400, 100px, 110px, $leadFontColor);
    @include smallTabletStyles {
      font-size: 47px;
      line-height: 56px;
    }
  }
  &__caption {
    @include removeSpacing;
    max-width: 469px;
    @include fontStyle(normal, 400, 20px, 28px, $leadFontColor);
    @include mobileStyles {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: -30px;
    }
  }
}
