$fontFamily: 'Roboto', sans-serif;

$minWidth: 320px;
$maxWidth: 1440px;

$headerBgColor: #DF2626;
$leadBgColor: #fff;
$compositionBgColor: #FFCE00;
$cameraBgColor: #000;
$ordersBgColor: #fff;
$applyBgColor: #DF2626;
$footerBgColor: #DF2626;

$inputBgColor: #fff;
$buttonBgColor: #fff;

$headerFontColor: #FBFBFB;
$leadFontColor: #000;
$compositionFontColor: #000;
$cameraFontColor: #fff;
$ordersFontColor: #000;
$applyFontColor: #fff;
$footerFontColor: #fff;

$buttonFontColor: #000;
$inputFontColor: #000;
