$fontFamily: 'Roboto', sans-serif;

$minWidth: 320px;
$maxWidth: 1440px;

$headerBgColor: #DF2626;
$leadBgColor: #fff;
$compositionBgColor: #FFCE00;
$cameraBgColor: #000;

$headerFontColor: #FBFBFB;
$leadFontColor: #000;
$compositionFontColor: #000;
$cameraFontColor: #fff;


$buttonFontColor: #000;
