@font-face {
  src: url("../../../vendor/fonts/Inter-Regular.woff2") format("woff2"), url("../../../vendor/fonts/Inter-Regular.woff") format("woff");
  font-family: "Inter";
  font-weight: 400;
}
.page {
  width: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #DF2626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 22px 50px 22px;
}
@media (max-width: 768px) {
  .header {
    padding: 22px 36px 22px 40px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 15px 16px 15px 20px;
  }
}
.header__logo {
  display: block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  width: 40px;
  height: 40px;
  transition: transform 1.5s ease;
}
@media (max-width: 768px) {
  .header__logo {
    width: 36px;
    height: 36px;
    position: relative;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 30px;
    height: 30px;
  }
}
.header__logo:hover {
  cursor: pointer;
  transform: rotate(-360deg);
}
.header__logo_hidden {
  z-index: 1;
}
@media (max-width: 768px) {
  .header__logo_hidden {
    z-index: -1;
  }
}
@media (max-width: 480px) {
  .header__logo_hidden {
    z-index: 1;
  }
}
.header__menu-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__menu-list {
    display: none;
    position: absolute;
    left: 40px;
    top: 30px;
  }
}
@media (max-width: 768px) {
  .header__menu-list_open {
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .header__menu-list_open {
    background-color: #DF2626;
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    padding-top: 6px;
    padding-bottom: 26px;
  }
}
.header__menu-item {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
}
.header__menu-link {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
.header__menu-button {
  display: none;
  background-image: url(../../../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__menu-button {
    display: block;
    margin: 0;
    padding: 0;
  }
}
.header__menu-button_close {
  background-image: url(../../../images/menu-close-icon.svg);
}/*# sourceMappingURL=style.css.map */