@font-face {
  src: url("../../../vendor/fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  src: url("../../../vendor/fonts/Roboto-Medium.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 500;
}
@font-face {
  src: url("../../../vendor/fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 700;
}
.page {
  width: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  max-width: 100%;
  background-color: #DF2626;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 22px 50px 22px;
}
@media (max-width: 768px) {
  .header {
    padding: 22px 36px 22px 40px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 15px 16px 15px 20px;
  }
}
.header__logo {
  display: block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  width: 40px;
  height: 40px;
  transition: transform 1.5s ease;
}
@media (max-width: 768px) {
  .header__logo {
    width: 36px;
    height: 36px;
    position: relative;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 30px;
    height: 30px;
  }
}
.header__logo:hover {
  cursor: pointer;
  transform: rotate(-360deg);
}
.header__logo_hidden {
  z-index: 1;
}
@media (max-width: 768px) {
  .header__logo_hidden {
    z-index: -1;
  }
}
@media (max-width: 480px) {
  .header__logo_hidden {
    z-index: 1;
  }
}
.header__menu-list {
  min-width: 320px;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__menu-list {
    display: none;
    position: absolute;
    left: 40px;
    top: 30px;
  }
}
@media (max-width: 768px) {
  .header__menu-list_open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .header__menu-list_open {
    background-color: #DF2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 69px;
    padding-top: 7px;
    padding-bottom: 26px;
  }
}
.header__menu-item {
  display: block;
  margin: 0;
  padding: 0;
}
.header__menu-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
}
.header__menu-link:hover {
  font-weight: 700;
}
.header__menu-button {
  display: none;
  background-image: url(../../../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__menu-button {
    display: block;
    margin: 0;
    padding: 0;
  }
}
.header__menu-button_close {
  background-image: url(../../../images/menu-close-icon.svg);
}

.lead {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content) 1fr 1fr;
  justify-content: space-between;
  gap: 60px;
  padding: 50px;
}
@media (max-width: 1024px) {
  .lead {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .lead {
    padding: 20px;
  }
}
.lead__photo {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/4;
}
@media (max-width: 1024px) {
  .lead__photo {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
.lead__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #000;
}
@media (max-width: 640px) {
  .lead__title {
    font-size: 47px;
    line-height: 56px;
  }
}
.lead__caption {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 469px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 480px) {
  .lead__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: -30px;
  }
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: solid #000 2px;
  border-radius: 999px;
  width: 228px;
  height: 49px;
  cursor: pointer;
  align-self: end;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 480px) {
  .button {
    width: 169px;
    height: 40px;
    font-size: 14px;
  }
}
.button:hover {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */