@font-face {
  src: url("../../../vendor/fonts/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  src: url("../../../vendor/fonts/Roboto-Medium.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 500;
}
@font-face {
  src: url("../../../vendor/fonts/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto";
  font-weight: 700;
}
.page {
  width: 100%;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  max-width: 100%;
  background-color: #DF2626;
  padding: 22px 50px 22px;
}
@media (max-width: 768px) {
  .header {
    padding: 22px 36px 22px 40px;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 15px 16px 15px 20px;
  }
}
.header__logo {
  display: block;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  width: 40px;
  height: 40px;
  transition: transform 1.5s ease;
}
@media (max-width: 768px) {
  .header__logo {
    width: 36px;
    height: 36px;
    position: relative;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 30px;
    height: 30px;
  }
}
.header__logo:hover {
  cursor: pointer;
  transform: rotate(-360deg);
}
.header__logo_hidden {
  z-index: 1;
}
@media (max-width: 768px) {
  .header__logo_hidden {
    z-index: -1;
  }
}
@media (max-width: 480px) {
  .header__logo_hidden {
    z-index: 1;
  }
}
.header__menu-list {
  min-width: 320px;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__menu-list {
    display: none;
    position: absolute;
    left: 40px;
    top: 30px;
  }
}
@media (max-width: 768px) {
  .header__menu-list_open {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .header__menu-list_open {
    background-color: #DF2626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 69px;
    padding-top: 7px;
    padding-bottom: 26px;
  }
}
.header__menu-item {
  display: block;
  margin: 0;
  padding: 0;
}
.header__menu-link {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
}
.header__menu-link:hover {
  font-weight: 700;
}
.header__menu-button {
  display: none;
  background-image: url(../../../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__menu-button {
    display: block;
    margin: 0;
    padding: 0;
  }
}
.header__menu-button_close {
  background-image: url(../../../images/menu-close-icon.svg);
}

.lead {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
  justify-content: space-between;
  background-color: #fff;
  gap: 60px;
  padding: 50px;
}
@media (max-width: 1024px) {
  .lead {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .lead {
    padding: 20px;
  }
}
.lead__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #000;
}
@media (max-width: 640px) {
  .lead__title {
    font-size: 47px;
    line-height: 56px;
  }
}
.lead__photo {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/4;
}
@media (max-width: 1024px) {
  .lead__photo {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}
.lead__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 4px;
  max-width: 469px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 480px) {
  .lead__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: -30px;
  }
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: solid #000 2px;
  border-radius: 999px;
  width: 228px;
  height: 49px;
  cursor: pointer;
  align-self: end;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 480px) {
  .button {
    width: 169px;
    height: 40px;
    font-size: 14px;
  }
}
.button_orders {
  align-self: flex-start;
}
.button_form {
  height: 50px;
  width: 205px;
  border-radius: 0 8px 8px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
@media (max-width: 480px) {
  .button_form {
    width: 107px;
    font-size: 11px;
    line-height: 24px;
  }
}
.button:hover {
  font-weight: 500;
}

.composition {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 1fr minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 1fr minmax(min-content, max-content);
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
  background-color: #FFCE00;
}
@media (max-width: 1024px) {
  .composition {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .composition {
    gap: 60px;
    padding: 40px 20px 20px 20px;
  }
}
.composition__label {
  display: block;
  margin: 0;
  padding: 0;
  padding: 0 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .composition__label {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 2px 0 2px;
    margin-bottom: -30px;
  }
  .composition__label:first-child {
    border-top: solid 1px;
  }
}
.composition__title {
  display: block;
  margin: 0;
  padding: 0;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000;
}
@media (max-width: 640px) {
  .composition__title {
    font-size: 30px;
    line-height: 38px;
  }
}
.composition__photo {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/5;
}
@media (max-width: 1024px) {
  .composition__photo {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}
.composition__caption-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .composition__caption-wrapper {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .composition__caption-wrapper {
    margin-top: 0;
    margin-bottom: -30px;
    gap: 36px;
  }
}
.composition__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 4px;
  max-width: 400px;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 480px) {
  .composition__caption {
    font-size: 14px;
    line-height: 18px;
  }
}
.composition__caption_bold {
  font-weight: 700;
}
.composition__content-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
  margin: 30px 0 0 0;
  padding: 0 4px;
  list-style: none;
  grid-column: 1/3;
}
@media (max-width: 1024px) {
  .composition__content-list {
    gap: 0;
    padding: 0;
    grid-column: 1/2;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .composition__content-list {
    margin: 20px 0 0 0;
  }
}
.composition__content-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: inherit;
}
@media (max-width: 1024px) {
  .composition__content-item {
    border-bottom: solid 1px;
    padding: 30px 0 30px;
  }
  .composition__content-item:last-child {
    border-bottom: none;
    padding: 30px 0 0;
  }
  .composition__content-item:first-child {
    padding: 0 0 30px;
  }
}
@media (max-width: 480px) {
  .composition__content-item {
    padding: 14px 0 14px;
    font-size: 14px;
    line-height: 18px;
  }
  .composition__content-item:last-child {
    border-bottom: none;
    padding: 14px 0 0;
  }
  .composition__content-item:first-child {
    padding: 0 0 14px;
  }
}

.camera {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
  background-color: #000;
  color: #fff;
}
@media (max-width: 1024px) {
  .camera {
    grid-template-columns: 1fr;
    padding: 40px;
    gap: 60px;
  }
}
@media (max-width: 480px) {
  .camera {
    padding: 40px 20px 20px 20px;
  }
}
.camera__label {
  display: block;
  margin: 0;
  padding: 0;
  padding: 0 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  align-self: end;
}
@media (max-width: 640px) {
  .camera__label {
    font-size: 14px;
    line-height: 20px;
    padding: 0 2px;
  }
  .camera__label:first-child {
    padding-top: 20px;
    border-top: solid 1px;
  }
}
.camera__title {
  display: block;
  margin: 0;
  padding: 0;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 122px;
  line-height: 122px;
  color: #fff;
}
@media (max-width: 768px) {
  .camera__title {
    margin-top: -20px;
  }
}
@media (max-width: 640px) {
  .camera__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: -30px;
  }
}
.camera__photo {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/4;
}
@media (max-width: 1024px) {
  .camera__photo {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}
.camera__caption-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .camera__caption-wrapper {
    margin-top: 0;
    margin-bottom: -30px;
    gap: 36px;
  }
}
.camera__caption {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 469px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
@media (max-width: 480px) {
  .camera__caption {
    font-size: 14px;
    line-height: 18px;
  }
}
.camera__caption_bold {
  font-weight: 700;
}
.camera__reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px;
  margin: 0;
  padding: 120px 0 0;
  list-style: none;
  grid-column: 1/3;
}
@media (max-width: 1024px) {
  .camera__reviews {
    margin-top: 120px;
    gap: 0;
    padding: 0;
    grid-column: 1/2;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .camera__reviews {
    margin-top: 0;
  }
}
.camera__review {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
  color: inherit;
  white-space: pre-line;
  max-width: 526px;
}
@media (max-width: 1024px) {
  .camera__review {
    border-bottom: solid 1px;
    padding: 30px 0 30px;
  }
  .camera__review:last-child {
    border-bottom: none;
    padding: 30px 0 0;
  }
  .camera__review:first-child {
    padding: 20px 0 30px;
  }
}
@media (max-width: 480px) {
  .camera__review {
    padding: 0;
    font-size: 24px;
    line-height: 26px;
  }
  .camera__review:last-child {
    border-bottom: none;
    padding: 30px 0 0;
  }
  .camera__review:first-child {
    padding: 0 0 30px;
  }
}
.camera__review-author-name {
  display: block;
  padding: 60px 0 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: inherit;
}
@media (max-width: 480px) {
  .camera__review-author-name {
    padding: 30px 0 6px;
    font-size: 14px;
    line-height: 20px;
  }
}
.camera__review-author-profile {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: inherit;
}
@media (max-width: 480px) {
  .camera__review-author-profile {
    font-size: 12px;
    line-height: 12px;
  }
}

.orders {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) 1fr;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
  justify-content: space-between;
  gap: 60px;
  padding: 50px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .orders {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .orders {
    padding: 40px 20px 20px 20px;
  }
}
.orders__label {
  display: block;
  margin: 0;
  padding: 0;
  padding: 0 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .orders__label {
    font-size: 14px;
    line-height: 20px;
    padding: 0 2px;
    padding-top: 20px;
  }
  .orders__label:first-child {
    border-top: solid 1px;
  }
}
.orders__title {
  display: block;
  margin: 0;
  padding: 0;
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000;
}
@media (max-width: 640px) {
  .orders__title {
    font-size: 32px;
    line-height: 38px;
  }
}
.orders__photo {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 46px;
  width: 100%;
  grid-column: 1/2;
  grid-row: 3/5;
}
@media (max-width: 1024px) {
  .orders__photo {
    grid-column: 1/2;
    grid-row: 3/5;
  }
}
@media (max-width: 480px) {
  .orders__photo {
    margin-top: 0;
    grid-row: 3/4;
  }
}
.orders__caption-wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
  justify-self: end;
  grid-column: 2/3;
  grid-row: 3/5;
}
@media (max-width: 1024px) {
  .orders__caption-wrapper {
    margin: 0;
    justify-self: start;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
@media (max-width: 480px) {
  .orders__caption-wrapper {
    gap: 30px;
  }
}
.orders__caption {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 380px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
@media (max-width: 1024px) {
  .orders__caption {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
@media (max-width: 480px) {
  .orders__caption {
    font-size: 14px;
    line-height: 18px;
  }
}
.orders__caption_bold {
  font-weight: 700;
}
.orders__content-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px;
  margin: 0;
  padding: 0 4px;
  list-style: none;
  grid-column: 1/3;
}
@media (max-width: 1024px) {
  .orders__content-list {
    gap: 0;
    padding: 0;
    grid-column: 1/2;
    grid-template-columns: repeat(1, 1fr);
  }
}
.orders__content-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: inherit;
}
@media (max-width: 1024px) {
  .orders__content-item {
    border-bottom: solid 1px;
    padding: 30px 0 30px;
  }
  .orders__content-item:last-child {
    border-bottom: none;
    padding: 30px 0 0;
  }
  .orders__content-item:first-child {
    padding: 20px 0 30px;
  }
}
@media (max-width: 480px) {
  .orders__content-item {
    font-size: 14px;
    line-height: 18px;
  }
}

.apply {
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) 1fr;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: 1fr minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: 1fr minmax(min-content, max-content);
  justify-content: space-between;
  row-gap: 120px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 50px 50px 36px;
  background-color: #DF2626;
}
@media (max-width: 1024px) {
  .apply {
    grid-template-columns: 1fr;
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .apply {
    row-gap: 200px;
  }
}
@media (max-width: 480px) {
  .apply {
    padding: 40px 20px 20px 20px;
  }
}
.apply__icon {
  display: block;
  padding-top: 10px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  width: 129px;
  height: 95px;
}
@media (max-width: 1024px) {
  .apply__icon {
    display: none;
  }
}
.apply__title {
  display: block;
  margin: 0;
  padding: 0;
  white-space: pre-line;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  color: #fff;
}
@media (max-width: 1024px) {
  .apply__title {
    font-size: 100px;
    line-height: 100px;
  }
}
@media (max-width: 640px) {
  .apply__title {
    font-size: 48px;
    line-height: 50px;
    border-top: solid 1px #fff;
    padding-top: 20px;
  }
}

.form {
  display: flex;
  margin-left: 5px;
}
.form__input-email {
  border: 0;
  max-width: 348px;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 13px 0 13px 20px;
  box-sizing: border-box;
  border: 2px solid #000;
  border-right: none;
  border-radius: 8px 0 0 8px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.375px;
}
@media (max-width: 480px) {
  .form__input-email {
    width: 175px;
    font-size: 11px;
    line-height: 24px;
  }
}
.form__input-email:hover {
  cursor: pointer;
}
.form__input-email:focus {
  outline-style: none;
}
.form__input-email:focus::-moz-placeholder {
  color: transparent;
}
.form__input-email:focus:-ms-input-placeholder {
  color: transparent;
}
.form__input-email:focus::placeholder {
  color: transparent;
}
.form_apply {
  grid-column: 2/3;
}
@media (max-width: 1024px) {
  .form_apply {
    grid-column: 1/2;
  }
}

.footer {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
  height: 124px;
  box-sizing: border-box;
  padding: 50px;
  background-color: #DF2626;
}
@media (max-width: 768px) {
  .footer {
    height: 104px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 20px;
    height: 124px;
    height: 64px;
  }
}
.footer__copyright {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */